.sidebar {
	margin: 0;
	padding: 0;
	background-color: @boss-gray-dark;
	@media (min-width: @grid-float-breakpoint) {
		border-radius: 4px;
	}
	[data-toggle="boss-collapse"] {
		display: none;
		@media (min-width: @grid-float-breakpoint) {
			display: block;
		}
	}
	> li {
		margin: 0;
		padding: 0;
		list-style: none;
		a {
			overflow: hidden;
			height: @sidebar-height;
			display: block;
			padding: 10px 15px;
			vertical-align: middle;
			color: @boss-gray-lighter;
			span {
				// asdf
			}
			i.fa {
				display: inline-block;
				min-width: 28px;
			}
			.arrow {
				margin-top: 2px;
				float: right;
				font-weight: bold;
			}
			.arrow:before {
				content: "\f104";
			}
		}
		> a:hover,
		> a:focus {
			text-decoration: none;
			background-color: @boss-gray-darker;
		}
		ul {
			margin: 0;
			padding: 0;
			background-color: @boss-gray-darker;
			a {
				padding-left: 40px;
			}
			a:hover,
			a:focus {
				color: @boss-black;
				text-decoration: none;
			}
		}
	}
	> li:first-child {
		> a:hover
		> a.focus {
			border-radius: 4px 4px 0 0;
		}
	}
	> li:last-child {
		> a:hover
		> a:focus {
			border-radius: 0 0 4px 4px;
		}
	}
	li.active {
		> a {
			background-color: @boss-gray-dark;
			.arrow:before {
				content: "\f107";
			}
		}
	}
}