// Fonts
@boss-main-font: 		'Lato', 'Helvetica Neue', Helvetic, Arial, sans-serif;

// Colors
@boss-black:			#000;
@boss-white:			#fff;
@boss-gray-darker:		lighten(@boss-black, 12%);		// #1f1f1f
@boss-gray-dark:		lighten(@boss-black, 19.2%);	// #313131
@boss-gray:				lighten(@boss-black, 33.5%);	// #555
@boss-gray-light:		lighten(@boss-black, 60%);		// #999
@boss-gray-lighter:		lighten(@boss-black, 93.5%);	// #eee


// Boss-Colors
@boss-default:			#5eb5b5;
@boss-primary:			#99c4e7;
@boss-success:			#cae387;
@boss-info:				#aae5f7;
@boss-warning:			#ffd974;
@boss-danger:			#ffa19f;
@boss-dark:				#656565;
@boss-titan:			#bbcbd8;
@boss-purple:			#e9c4e3;
@boss-pink:				#f997b0;

@link-color:			@boss-default;

// Dashbox Colors
@dashbox-blue:			#25638e;
@dashbox-red:			#8e2525;
@dashbox-green:			#468747;
@dashbox-orange:		#e2a53a;

// Navbar
@boss-navbar-height:	50px;

// Sidebar
@sidebar-width:			230px;