// Colors
@black:					#000;
@gray-darker:			lighten(#000, 12%);		// #1f1f1f
@gray-dark:				lighten(#000, 19.2%);	// #313131
@gray:					lighten(#000, 33.5%);	// #555
@gray-light:			lighten(#000, 60%);		// #999
@gray-lighter:			lighten(#000, 93.5%);	// #eee

// Boss-Colors
@boss-default:			#b5dddd;
@boss-primary:			#99c4e7;
@boss-success:			#cae387;
@boss-info:				#aae5f7;
@boss-warning:			#ffd974;
@boss-danger:			#ffa19f;
@boss-dark:				#656565;
@boss-titan:			#bbcbd8;
@boss-purple:			#e9c4e3;
@boss-pink:				#f997b0;

@link-color:			@boss-default;

// Dashbox Colors
@dashbox-blue:			#25638e;
@dashbox-red:			#8e2525;
@dashbox-green:			#468747;
@dashbox-orange:		#e2a53a;

// Sidebar
@sidebar-width:			230px;

// Breakpoints
@screen-sm-min:			768px;
@screen-md-min:			992px;
@screen-lg-min:			1200px;