// Fonts
@boss-main-font: 		'Lato', 'Helvetica Neue', Helvetic, Arial, sans-serif;

// Colors
@boss-black:			#000;
@boss-white:			#fff;
@boss-gray-darker:		lighten(@boss-black, 12%);			// #1f1f1f
@boss-gray-dark:		lighten(@boss-black, 19.2%);		// #313131
@boss-gray:				lighten(@boss-black, 33.5%);		// #555
@boss-gray-light:		lighten(@boss-black, 60%);			// #999
@boss-gray-lighter:		lighten(@boss-black, 93.5%);		// #eee
@boss-gray-lightest:	lighten(@boss-gray-lighter, 2.5%);	// #f5f5f5


// Boss-Colors
@boss-default:			#5eb5b5;
@boss-default-bg:		lighten(@boss-default, 25%);	// #b5dddd
@boss-default-hr:		darken(@boss-default, 5%);
@boss-default-text:		darken(@boss-default, 35%);		// #3f8888

@boss-primary:			#99c4e7;
@boss-primary-bg:		lighten(@boss-primary, 15%);	// #d7e8f6
@boss-primary-btn:		darken(@boss-primary, 10%);		//
@boss-primary-hr:		darken(@boss-primary, 5%);
@boss-primary-text:		darken(@boss-primary, 35%);		// #5ba0d8

@boss-success:			#cae387;
@boss-success-bg:		lighten(@boss-success, 17%);	// #e9f3c
@boss-success-btn:		darken(@boss-success, 15%);		//
@boss-success-hr:		darken(@boss-success, 5%);
@boss-success-text:		darken(@boss-success, 35%);		// #97be2c

@boss-info:				#aae5f7;
@boss-info-bg:			lighten(@boss-info, 10%);		// #d9f3fb
@boss-info-btn:			darken(@boss-info, 10%);		//
@boss-info-hr:			darken(@boss-info, 5%);
@boss-info-text:		darken(@boss-info, 35%);		// #15acda

@boss-warning:			#ffd974;
@boss-warning-bg:		lighten(@boss-warning, 10%);	// #ffe7a7
@boss-warning-btn:		darken(@boss-warning, 10%);		//
@boss-warning-hr:		darken(@boss-warning, 5%);
@boss-warning-text:		darken(@boss-warning, 35%);		// #c18c00

@boss-danger:			#ffa19f;
@boss-danger-bg:		lighten(@boss-danger, 10%);		// #ffd3d2
@boss-danger-btn:		darken(@boss-danger, 10%);		//
@boss-danger-hr:		darken(@boss-danger, 5%);
@boss-danger-text:		darken(@boss-danger, 35%);		// #ec0500

@boss-dark:				#656565;
@boss-dark-bg:			lighten(@boss-dark, 10%);		// #7f7f7f
@boss-dark-hr:			darken(@boss-dark, 5%);
@boss-dark-text:		darken(@boss-dark, 35%);		// #0c0c0c

@boss-titan:			#bbcbd8;
@boss-titan-bg:			lighten(@boss-titan, 10%);		// #dbe4eb
@boss-titan-btn:		darken(@boss-titan, 10%);		//
@boss-titan-hr:			darken(@boss-titan, 5%);
@boss-titan-text:		darken(@boss-titan, 35%);		// #52738f

@boss-purple:			#e9c4e3;
@boss-purple-bg:		lighten(@boss-purple, 10%);		// #f7e9f5
@boss-purple-btn:		darken(@boss-purple, 10%);		//
@boss-purple-hr:		darken(@boss-purple, 5%);
@boss-purple-text:		darken(@boss-purple, 35%);		// #b644a4

@boss-pink:				#f997b0;
@boss-pink-bg:			lighten(@boss-pink, 10%);		// #fcc7d5
@boss-pink-btn:			darken(@boss-pink, 10%);		//
@boss-pink-hr:			darken(@boss-pink, 5%);
@boss-pink-text:		darken(@boss-pink, 35%);		// #d10c3e

@link-color:			@boss-default;

// Dashbox Colors
@dashbox-blue:			#25638e;
@dashbox-red:			#8e2525;
@dashbox-green:			#468747;
@dashbox-orange:		#e2a53a;

// Navbar
@boss-navbar-height:	50px;

// Sidebar
@sidebar-width:			230px;
@sidebar-small-width:	65px;