$base-layout-padding: $global-padding;

$base-layout-topbar-height: 3rem;

$base-layout-logo-color: $white;
$base-layout-logo-font-weight: bold;
$base-layout-logo-img-height: $global-padding;
$base-layout-logo-img-margin-top: $global-padding;