$base-layout-padding: $global-padding !default;

$base-layout-breadcrumb: $white !default;

$base-layout-topbar-height: 3rem !default;

$base-layout-logo-color: $white !default;
$base-layout-logo-font-weight: bold !default;
$base-layout-logo-img-height: $global-padding !default;
$base-layout-logo-img-margin-top: $global-padding !default;

@mixin bossmin-base-layout {
  .bossmin { 
    background: map-safe-get($layout-palette, gray-four);
    min-height: 100vh;
    display: flex;
    flex-flow: row wrap;

    .bs-sidebar {
      background: map-safe-get($layout-palette, gray-two);
      width: 14rem;
      min-height: 100vh;
      flex: 0 0 auto;

      .logo {
        background: map-safe-get($layout-palette, gray-one);
        line-height: $base-layout-topbar-height;
        height: $base-layout-topbar-height;
        padding: 0 ($base-layout-topbar-height / 3);
        overflow: hidden;
        color: $base-layout-logo-color;
        font-weight: $base-layout-logo-font-weight;

        img {
           height: $base-layout-logo-img-height;
           margin-top: $base-layout-logo-img-margin-top;
        }
      }
    }

    .bs-container {
      flex: 1 1 0; 

      >.bs-topbar {
        background: map-safe-get($layout-palette, gray-two);
        height: $base-layout-topbar-height;
      }

      >.bs-breadcrumb {
        background: $base-layout-breadcrumb;
        padding: 0.5rem;

        .breadcrumbs { margin: 0 }
      }

      >.bs-content {
        padding: $base-layout-padding;
      }
    }
  }
}